@{
    ViewBag.Title = "Consultorios";
    Layout = "~/Views/Shared/_Layout.cshtml";  // Layout común
}

<h2>Gestión de Consultorios</h2>

<!-- Enlace para agregar nuevo paciente -->
<a href="@Url.Action("Crear", "Consultorios")" class="btn btn-outline-success">Agregar Nuevo Departamento</a>

<table id="pacientesTable" class="display table table-striped">
    <thead>
        <tr>
            @*<th>Id</th>*@
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>Ubicación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aquí recorres directamente la lista de pacientes que está en el modelo -->
        @foreach (var Consultorios in Model)
        {
            <tr>
                <td>@Consultorios.Nombre</td>
                <td>@Consultorios.Especialidad</td>
                <td>@Consultorios.Ubicacion</td>
                <td>
                    <a href="@Url.Action("Editar", "Consultorios", new { id = Consultorios.ConsultorioId })" class="btn btn-warning btn-sm">Editar</a>
                    <a href="@Url.Action("Eliminar", "Consultorios", new { id = Consultorios.ConsultorioId })" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
</tr>
        }
    </tbody>
</table>

<!-- Inicialización de DataTables para habilitar paginación -->
<script>
    $(document).ready(function () {
        $('#pacientesTable').DataTable({
            "pageLength": 5, // Número de registros por página
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/Spanish.json" // Idioma en español
            }
        });
    });
</script>
